<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "linkcss.html" %}
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->
	{% include "header.html" %}

	<!-- Cart -->
	{% include "cart.html" %}


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01(3).jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Born out of the need to reliably find high quality masks in one place and a conversation with my lovely Grandma who makes a variation of the masks on this website. We decided to do it and solve the problem ourselves. Over the course of several months we developed our service and sources to reliably bring you a wide range of facial masks that aren’t subjected to the absolutely evil price ballooning that we’ve found during this unfortunate crisis. 
						</p>

						<p class="stext-113 cl6 p-b-26">

						</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in by emailing us at asturgeon190@gmail.com or call us at 1-(573)-660-1041
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{{ url_for('static',filename='images/about-01.jpg') }}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							At the Mask Store, our goal isn't to sell masks. It's to save people from the corporate evil that is taking advantage of people during this crisis. We make just enough money to pay our staff and cover expenses. Here at the Mask Store we've seen the exploitation of people too many times in our personal life so we sought out to stand up and deliver masks to people in need, around the globe. 
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								The best way to not feel hopeless is to get up and do something. Don’t wait for good things to happen to you. If you go out and make some good things happen, you will fill the world with hope, you will fill yourself with hope.
							</p>

							<span class="stext-111 cl8">
								- Barack Obama 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{{ url_for('static',filename='images/about-02.jpg') }}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		

	<!-- Footer -->
	{% include "footer.html" %}


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

{% include "scripts.html" %}
	
</body>
</html>